<html>
<body >
<div id="d1"  >
    <header>
      <section id="s1">
        <img src="assets/pro.jpg" id="i1">
      </section>
      <section id="s2">
        <h1>CHRONICLES OF NEDUMAARAN </h1>
      </section>
    </header>
    <nav >
      <ul>
        <li> <a routerLink="home">   HOME       </a></li>
        <li> <a routerLink="prog">   PROGRESS   </a></li>
        <li> <a routerLink="people"> PEOPLE     </a></li>
        <li> <a routerLink="char">   CHARACTERS </a></li>
        <li> <a routerLink="update"> UPDATE     </a></li>
        <li> <a routerLink="cont">   CONTACT US </a></li>
        <li><a routerLink="game"> GOALS</a></li> 
      </ul>
    </nav>
    <section>
      <router-outlet></router-outlet>
    </section>
    </div>
  </body>
</html>